/*GENERAL*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;   
}

a {
    font-size: 18px;
    text-decoration: none;
}

button{
    border: none;
    margin: 5px 5px;
    border-radius: 8px;
    background-color: #3882F6; 
    padding: .5rem 1rem .5rem 1rem;
}


.content-button a{
    font-size: 18px;

    font-weight: 800;
    padding: .3rem 1rem .3rem 1rem;


}

/*ENCABEZADO DE LA PÁGINA*/ /*----------------------------__-------------*/

.header, .footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

a {
    color: #E5E7EB;
}

/* CONTENIDO DE LA PÁGINA*/ /* ------------------___-------------------*/

.container {
    padding: 6rem 2rem 6rem 2rem;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;


}

.container img {
    box-sizing: border-box;

}

.content{
    margin: 20px;
    width: 40%;
    box-sizing: border-box;

}

/*INFORMACIÓN RANDOM*/ /*---------------_____------------*/

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: extra-bold;
}

.information {
    padding-bottom: 8rem;  
    box-sizing: border-box;
}

.random {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info  {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

.info div{
    color: #1F2937;
    text-align: center;
    padding: .2rem;
    width: 200px;
}

.info img{
    border: .2rem solid #3882F6;
    border-radius: 1rem;
    width: 200px;
    height: 180px;
}

.things {
    display: flex;
    flex-flow: column nowrap;
    background-color: #E5E7EB;
    padding: 6rem;
    color: #1F2937;
    align-items: flex-end;
}

.lorem{
    width: 70%;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    margin: 0 auto;
    padding: 1rem;
}

.user {
    margin-right: 8rem;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.action-side {
    display: flex;
    margin: 0 auto;
    padding: 4rem;

    
}

.call {
    display: flex;
    flex-flow: column wrap;
}

.singup-bot {
    padding: 3rem 8rem 3rem 8rem;
    display: flex;
    background-color: #3882F6;
    border-radius: .5rem;
    color: #E5E7EB;
    gap: 5rem;

}

.call-one{
    font-size: 18px;
    font-weight: 600;
}

.bot-button{
    border: .15rem solid #E5E7EB;
    padding: .3rem 1rem .3rem 1rem;
    border-radius: 8px;
}

.footer{
    height: 6.2rem;
}


